.list {

  $self: &;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    color: #eeeeee;
    padding: 8px 20px 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 6px;
    transition: .3s ease-in-out;
    margin-bottom: 6px;

    &:hover #{$self}__remove-icon {
      opacity: 0.4;
    }

    #{$self}__remove-icon {
      opacity: 0;
      transition: .3s;

      &:hover {
        opacity: 0.9;
      }

    }

    span {
      flex: 1;
    }

    &:last-child {
      margin-bottom: 24px;
    }

    &:hover {
      background: lighten(#ff2e63, 3%);
    }

    &.active {
      background: #ff2e63;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 6px;

      i {
        svg {
          path {
            fill: #eeeeee;
          }
        }
      }

    }
  }

  &__item-all {
    margin-bottom: 0;
  }

  .list__list-icon {
    display: flex;
    i {
      svg {
        margin-right: 6px;
        padding-top: 5px;
      }
    }
  }

  .list__add-icon {
    display: flex;
    i {
      svg {
        margin-right: 12px;
        padding-top: 5px;
      }
    }
  }
}

