.add-list {
  position: relative;

  .list {
    &__item {
      color: rgba(238, 238, 238, 0.4);
    }

    &__item:hover {
      background-color: initial;
      color: rgba(238, 238, 238, 1);
    }
  }

  &__popup {
    width: 250px;
    height: 150px;
    background-color: #344a67;
    box-shadow: 1px 1px 10px #393e46;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    top: 40px;
    padding: 18px;
    box-sizing: border-box;
  }

  &__popup-colors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    padding: 0 4px;
    margin-bottom: 12px;
    position: relative;

    .badge {
      width: 16px;
      height: 16px;
      margin-right: 0;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &.active {
        transform: scale(1.5);
      }
    }
  }

  &__close-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
  }

  .field {
    margin-bottom: 12px;
  }

  .button {
    width: 100%;
  }
}
